.projects {
  padding: 2rem;
  max-width: 50rem;
  margin: 0 auto;
  text-align: center; /* Centrare text */
}

.projects h1 {
  margin-bottom: 1rem;
  font-size: 3rem; /* Dimensiune mai mare */
  font-style: italic; /* Text înclinat */
  font-weight: bold; /* Text îngroșat */
  color: #335fb0; /* Culoare premium */
  text-transform: uppercase; /* Transformare text în majuscule */
  background: linear-gradient(90deg, #335fb0, #00d4ff, #ffd369, #335fb0); /* Gradient ajustat */
  background-size: 300% 300%; /* Dimensiunea gradientului ajustată */
  -webkit-background-clip: text; /* Clip text */
  background-clip: text; /* Standard property for compatibility */
  -webkit-text-fill-color: transparent; /* Text transparent */
  animation: gradient-animation 5s infinite; /* Animație gradient */
}

/* Definirea animației gradient */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.mini-title {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 2rem;
}

.project {
  background-color: #333; /* Culoare de fundal ajustată */
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: left; /* Aliniere text la stânga */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative; /* Pentru poziționarea imaginii de previzualizare */
}

.project:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.project h2 {
  margin-top: 0;
  font-size: 2rem;
  color: #0372bc;
  /* text-transform: uppercase; */
  margin-bottom: 0.5rem;
}

.project p {
  margin: 0.5rem 0;
  color: hsl(0, 0%, 46%);
}


.project p {
  margin: 0.5rem 0;
  color: hsl(0, 0%, 46%);
}

.description {
  margin-top: 1rem;
}

.description h3 {
  font-size: 1.5rem;
  color: #0372bc;
  margin-bottom: 0.5rem;
}

.description ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.description ul li {
  margin-bottom: 0.5rem;
  color: #777676;
}

.tags {
  margin-top: 0.5rem;
}

.tag {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  margin-right: 0.5rem;
  border-radius: 50px; /* Colțuri rotunjite */
  font-size: 0.9rem;
  background-color: transparent; /* Fundal transparent */
  border: 2px solid; /* Bordură */
  color: inherit; /* Moștenire culoare text */
  transition: transform 0.3s ease; /* Tranziție pentru hover */
}

.tag:hover {
  transform: scale(1.1); /* Efect de mărire la hover */
}

.tag-html {
  border-color: #ff6347; /* Bordură roșie deschisă pentru HTML */
  color: #ff6347; /* Text roșu deschis */
}

.tag-css {
  border-color: #1e90ff; /* Bordură albastră deschisă pentru CSS */
  color: #1e90ff; /* Text albastru deschis */
}

.tag-js {
  border-color: #ffeb3b; /* Bordură galbenă deschisă pentru JavaScript */
  color: #ffeb3b; /* Text galben deschis */
}

.tag-python {
  border-color: #87ceeb; /* Bordură albastră deschisă pentru Python */
  color: #87ceeb; /* Text albastru deschis */
}

.tag-sql {
  border-color: #ffa500; /* Bordură portocalie deschisă pentru SQL */
  color: #ffa500; /* Text portocaliu deschis */
}

.tag-Cpp {
  border-color: #34aefa; /* Bordură roz deschis pentru C/C++ */
  color: #34aefa; /* Text roz deschis */
}
.tag-C {
  border-color: #34aefa; /* Bordură roz deschis pentru C/C++ */
  color: #34aefa; /* Text roz deschis */
}
.tag-php {
  border-color: #af41ee; /* Bordură roz deschis pentru Php */
  color: #af41ee; /* Text roz deschis */
}
.preview-link {
  display: block;
  margin-top: 1rem;
  text-align: center;
}

.preview {
  width: 100%;
  height: auto;
  max-height: 25rem;  
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0 0 10px #555;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.preview video {
  width: 100%;
  height: auto;
  border: none;
  object-fit: cover; /* Asigură că videoclipul acoperă complet containerul */
}

/* .preview img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
} */

.project:hover .preview{
  transform: scale(1.09);
  box-shadow: 0 0 20px #eae7e0a3;
}

.project:hover .preview img,
.project:hover .preview video {
  transform: None;
}


/* Media queries pentru responsive design */
@media (max-width: 600px) {
  .projects {
    padding: 1rem;
  }

  .project {
    padding: 1rem;
  }

  .project h2 {
    font-size: 1.5rem;
  }

  .project p {
    font-size: 0.6rem;
  }

  .description h3 {
    font-size: 0.6rem;
  }

  .description ul li {
    font-size: 0.5rem;
  }


  .tag {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
  }

  .preview {
    max-height: 12.5rem;
  }
}